<ion-header>

  <ion-navbar>
    <ion-title>图书搜索</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <search-box [(text)]="searchText" (doSearch)="search()"></search-box>

  <div class="book-record-group">
    <span *ngIf="totalCount>0" class="total-count">共{{totalCount}}条结果</span>
    <a class="book-record" *ngFor="let bookRecord of bookRecords" (click)="goBookDetail(bookRecord)">
      <h2>
        {{bookRecord.title}}
      </h2>
      <span>
        {{bookRecord.author}}<br *ngIf="bookRecord.author">
        {{bookRecord.press}} {{bookRecord.year}}
      </span>
    </a>
  </div>

  <div *ngIf="totalCount==0" class="no-record">
    <ion-icon name="ios-archive-outline"></ion-icon><br>
    没有查找到符合条件的图书
  </div>

  <div *ngIf="hasError" class="has-error">
    <ion-icon name="wifi"></ion-icon><br>
    似乎出现了网络故障
  </div>

  <div style="text-align: center" *ngIf="totalCount && !hasError">
    <button *ngIf="recordStartNumber<=totalCount" ion-button clear small color="dark" (click)="loadRecords()">加载更多</button>
    <span *ngIf="recordStartNumber>totalCount">已全部加载完毕</span>
  </div>

</ion-content>
