<ion-header>
  <ion-navbar>
    <ion-title>
      收藏
    </ion-title>
    <ion-buttons end>
      <button *ngIf="collections?.length>0" ion-button icon-only (click)="deleteAllCollections()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ng-container *ngIf="accountSvc.user">
    <ng-container *ngIf="collections !== null">
      <div class="book-collection-group" *ngIf="collections.length>0">
      <span class="total-count">
        共{{collections.length}}条收藏
      </span>
        <a class="book-collection" *ngFor="let collection of collections" (click)="goBookDetail(collection)">
          <h2>
            {{collection.attributes.title}}
          </h2>
          <span>
          {{collection.attributes.author}} {{collection.attributes.classNumber}}<br>
          {{collection.attributes.press}} {{collection.attributes.year}}
        </span>
        </a>
      </div>
      <page-placeholder *ngIf="collections.length==0" icon="ios-folder-open-outline" text="收藏夹空空如也"></page-placeholder>
    </ng-container>
    <ng-container *ngIf="collections === null">
      <page-placeholder icon="ios-radio-outline" text="加载中"></page-placeholder>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="!accountSvc.user">
    <div style="text-align: center">
      <page-placeholder icon="ios-cloud-circle-outline" text="登录后查看收藏夹"></page-placeholder>
      <button ion-button outline color="dark" (click)="goLoginPage()">登录</button>
    </div>
  </ng-container>

</ion-content>
