page-book-items {
  .item-group{
    padding:0 20px 30px;
    $border: solid 1px #d6d6d6;
    ion-badge{
      float: right;
    }
    .item{
      width:100%;
      padding:6px 0;
      border-top: $border;
      border-collapse: collapse;
    }
    .item:last-of-type{
      border-bottom: $border;
    }
  }
}
