<ion-header>

  <ion-navbar>
    <ion-title>单册信息</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="items" class="item-group">
    <span>共{{items.length}}单册/{{borrowedItemsCount}}在借</span>
    <div *ngFor="let item of items" class="item">
      <ion-badge *ngIf="item.requested" color="gray">被预约</ion-badge>
      <ion-badge *ngIf="item.borrowed" color="gray">已借出</ion-badge>
      {{item.callNumber}}<br>
      {{item.subLibrary}}<br>
      <span *ngIf="item.dueDate">预计于{{item.dueDate}}归还</span>
    </div>
  </div>
</ion-content>
