page-placeholder {
  div.placeholder{
    width:100%;
    text-align: center;
    padding-top: 20vh;
    padding-bottom: 20px;
    color: #797979;
    ion-icon{
      font-size: 80px;
      display: block;
      margin-bottom: 40px;
    }
  }
}
