page-home {
  .scroll-content{
    padding-top: 20px!important;
    padding-bottom: 50px!important;
  }

  ion-segment-button{
    span{
      display: inline-block;
      font-size: 1.5rem;
      position: relative;
      bottom:0.3rem;
    }
  }

  .book-group{
    padding-top: 20px;
    text-align: center;
    span.header{
      display: block;
      margin-bottom: 10px;
    }
    .latest-book-link{
      display: inline-block;
      //width:100%;
      text-align: center;
      margin:12px 0;
    }
    div.no-record{
      width:100%;
      text-align: center;
      padding-top: 10vh;
      color: #c8c8c8;
      ion-icon{
        font-size: 40vw;
      }
    }
  }

}
