<ion-header>
  <ion-navbar>
    <ion-title>首页</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher pullMax="300" pullMin="70" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="dots"
      pullingIcon="ios-arrow-down">
    </ion-refresher-content>
  </ion-refresher>

  <search-box [(text)]="searchText" (doSearch)="search()"></search-box>

  <div style="padding-top: 35px">
    <ion-segment [(ngModel)]="bookListType" color="dark">
      <ion-segment-button value="hot">
        <ion-icon name="flame"></ion-icon><span>热门</span>
      </ion-segment-button>
      <ion-segment-button value="latest">
        <ion-icon name="bulb"></ion-icon><span>最新</span>
      </ion-segment-button>
    </ion-segment>

    <div class="book-group" inset *ngIf="bookListType=='latest'">
      <div *ngFor="let book of latestBooks">
        <a class="latest-book-link" (click)="goBookDetail(book.id,book.base)">{{book.title}}</a>
      </div>
    </div>

    <div class="book-group" inset *ngIf="bookListType=='hot'">
      <div *ngFor="let book of hotBooks">
        <a class="latest-book-link" (click)="goBookDetail(book.id,book.base)">{{book.title}}</a>
      </div>
    </div>



  </div>

</ion-content>
