page-home {
  .latest-book-group{
    padding-top: 20px;
    text-align: center;
    .latest-book-link{
      display: inline-block;
      //width:100%;
      text-align: center;
      margin:12px 0;
    }
  }
}
