<ion-header>

  <ion-navbar>
    <ion-title>我</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="reader-card">
    <img src="assets/image/reader-card.svg">
    <p>
      <span *ngIf="!user">未登录</span>
      <span *ngIf="user">
        {{user.name}}<br>{{user.studentId}}
      </span>
    </p>
  </div>

  <ion-list>
    <button ion-item (click)="goAboutPage()">
      <ion-icon name="ios-book-outline" item-start></ion-icon>
      我的借阅
    </button>
    <button ion-item (click)="goAboutPage()">
      <ion-icon name="ios-list-box-outline" item-start></ion-icon>
      借阅历史
    </button>
    <button ion-item (click)="goLoginPage()" *ngIf="!user">
      <ion-icon name="ios-log-in" item-start></ion-icon>
      登录
    </button>
    <button ion-item (click)="logout()" *ngIf="user">
      <ion-icon name="ios-log-out" item-start></ion-icon>
      退出登录
    </button>
    <button ion-item (click)="goAboutPage()">
      <ion-icon name="ios-information-circle-outline" item-start></ion-icon>关于
    </button>
  </ion-list>
</ion-content>
