<ion-header>

  <ion-navbar>
    <ion-title>我</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="reader-card">
    <img src="assets/image/reader-card.svg" [class.inactive]="!user">
    <p>
      <span *ngIf="!user">未登录</span>
      <span *ngIf="user">
        {{user.getUsername()}}
      </span>
    </p>
  </div>

  <ion-list>
    <button ion-item (click)="goLoginPage()" *ngIf="!user">
      <ion-icon name="ios-log-in" item-start></ion-icon>
      登录
    </button>
    <button ion-item (click)="goSignUpPage()" *ngIf="!user">
      <ion-icon name="ios-person-add-outline" item-start></ion-icon>
      注册
    </button>
    <button ion-item (click)="logout()" *ngIf="user">
      <ion-icon name="ios-log-out" item-start></ion-icon>
      退出登录
    </button>
    <button ion-item (click)="shareApp()">
      <ion-icon name="ios-beer-outline" item-start></ion-icon>
      把 浙图 分享给好友
    </button>
    <button ion-item (click)="goAboutPage()">
      <ion-icon name="ios-information-circle-outline" item-start></ion-icon>
      关于
      <ion-badge color="danger" *ngIf="hasNewVersion">New</ion-badge>
    </button>
  </ion-list>
</ion-content>
