page-me {
  div.reader-card{
    text-align: center;
    padding-bottom: 10px;
    img{
      width:40%;
      max-width: 20rem;
    }
    p{
      font-size: 1.5rem;
      margin-top: -10px;
    }
  }
  ion-list{
    button{
      ion-icon{
        margin-right: 10px!important;
        padding:0 10px!important;
      }
      ion-icon::before{
        width:2rem;
      }
      .item-inner{
        margin-left: 0!important;
      }
    }
  }
}
