<ion-header>

  <ion-navbar>
    <ion-title>图书详情</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-refresher pullMax="300" pullMin="70" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="dots"
      pullingIcon="ios-arrow-down">
    </ion-refresher-content>
  </ion-refresher>

  <div class="color-div"></div>

  <div *ngIf="bookLoaded" class="book-title">
    <div class="content">
      <h1>
        {{book.title}}<br>
      </h1>
      <span>{{book.author}}&nbsp;&nbsp;&nbsp;{{book.classNumber}}</span>
    </div>
  </div>

  <button class="button-collect" ion-button clear icon-only color="white" (click)="toggleCollect()">
    <ion-icon [name]="isCollected?'md-heart':'md-heart-outline'"></ion-icon>
  </button>

  <ion-card *ngIf="bookLoaded" class="card-book-detail">
    <ion-card-content>
      系统图书编号 {{book.id}}<br>
      ISBN {{book.ISBN?book.ISBN:'暂无'}}<br>
      作者 {{book.author}}<br>
      编者 {{book.editor}}<br>
      分类号 {{book.classNumber}}<br>
      出版社 {{book.press.name}}({{book.press.location}})<br>
      出版年 {{book.year}}<br>
      页数 {{book.pageCount}}<br>
      价格 {{book.price}}<br>
      装帧 {{book.bindingType}}<br>
    </ion-card-content>
  </ion-card>


  <button ion-button outline color="dark" (click)="viewBookItems()">查看单册状态</button>

</ion-content>
