<ion-header>

  <ion-navbar>
    <ion-title>图书详情</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-refresher pullMax="300" pullMin="70" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="dots"
      pullingIcon="ios-arrow-down">
    </ion-refresher-content>
  </ion-refresher>

  <div class="color-div"></div>

  <div *ngIf="bookLoaded" class="book-title">
    <div class="content">
      <h1>
        {{detail.title}}<br>
      </h1>
      <span>{{detail.author}}&nbsp;&nbsp;&nbsp;{{detail.classNumber}}</span>
    </div>
  </div>

  <button class="button-collect" ion-button clear icon-only color="white" (click)="toggleCollect()">
    <ion-icon [name]="isCollected?'md-heart':'md-heart-outline'"></ion-icon>
  </button>

  <ion-card *ngIf="bookLoaded" class="card-book-detail">
    <ion-card-content>
      {{douban.rating.average}}
      系统图书编号 {{detail.id}}<br>
      ISBN {{detail.ISBN?detail.ISBN:'暂无'}}<br>
      作者 {{detail.author}}<br>
      编者 {{detail.editor}}<br>
      分类号 {{detail.classNumber}}<br>
      出版社 {{detail.press.name}}({{detail.press.location}})<br>
      出版年 {{detail.year}}<br>
      页数 {{detail.pageCount}}<br>
      价格 {{detail.price}}<br>
      装帧 {{detail.bindingType}}<br>
    </ion-card-content>
  </ion-card>


  <button ion-button outline color="dark" (click)="viewBookItems()">查看单册状态</button>

</ion-content>
